body{
    color: #242635;
    display: flex;
    justify-content: center;
}

.main-container{
    max-width: 864px;
    width: 100%;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3vh;
    padding: 0 1vw 0 1vw;
}

.logo{
    font-family: "Aldrich", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    letter-spacing: -0.25px;
    line-height: 36px;

}

.nav-list{
    display: flex;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    list-style: none;
}

.nav-list > li > a{
    text-decoration: none;
    color: #242635;
    margin-left: 3vw;
    padding: 0 5px 0 5px;
    border-radius: 5px;

}

.nav-list > li > a:hover{
    color: aliceblue;
    background-color: #242635;
    transition: all 0.5s;
    
}

.nav-list > .icon {
    display: none;
    padding: 3px 8px 1px 8px;    
    border-radius: 50%;
  }

.nav-list > .icon:hover{
    background-color: #242635;
    padding: 3px 8px 1px 8px;
    color: aliceblue;
    transition: all 0.5s;
    cursor: pointer;

}

.main-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-h1{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 90px;
    letter-spacing: -2px;
    line-height: 102px;
}

.main-text-container{
    max-width: 570px;
    width: 100%;
}

.main-text{
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    margin-bottom: 6vh;
}

.img-placeholder{
    background-image: url(../images/horses_big.png);
    min-width: 864px;
    min-height:328px;
}

@media screen and (max-width: 864px) {
    .main-h1{
        font-size: 72px;
        letter-spacing: -2px;
        line-height: 83px;
    }

    .img-placeholder{
        
        background-image: url(../images/horses_medium.png);
        min-width: 617px;
        min-height: 512px;
    }

    header{
        padding: 0 10vw 0 10vw;
    }

    .logo{
        font-family: "Baloo Bhai 2", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
    }
}

@media screen and (max-width: 617px) {
    .main-h1{
        font-size: 36px;
        letter-spacing: -1px;
        line-height: 40px;
    }

    .img-placeholder{
        background-image:url(../images/horses_small.jpg) ;
        min-width: 256px;
        min-height: 284px;
    }

    .main-text{
        font-size: 12px;
        line-height: 18px;
    }

    .main-text-container{
        max-width: 220px;
    }

    .nav-list{
        flex-direction: column;        
    }

    .nav-list > li {
        display: none;
    }

    .nav-list > .icon {
      float: right;
      display: block;
    }
}